/**
 * partials/footer
 * ---
 */


.footer {
    
    background: $black; 
    border-radius: 1rem; 
    color: $white;
    margin-bottom: 1.6rem;
    
    
    a {
        
        color: $white; 
        
        &:hover {
         
            color: $secondary-orange; 
        }
    }
    
    ul {
    
        padding: 6rem 0 0 6rem; 
        
        li {list-style: none; 
        padding: 1.2rem 0; }
    }
    
    
    
}


.grid-wrapper-4 {
    
        
    nav.footer-nav-1 {
    grid-column: 1 / span 12; 
    grid-row: 1 / span 5;
        
    }
    
    nav.footer-nav-2 {
    grid-column: 13 / span 8; 
    grid-row: 1 / span 5;

        
    }
    
 

    div.grid-item-3 {
    grid-column: 18 / span 7;
    grid-row: 1 / span 3;
        
    }

    div.grid-item-4 {
    grid-column: 23 / span 1;
    grid-row: 5 / span 1;        
    }
    
      div.grid-item-5 {
    grid-column: 1 / span 6;
    grid-row: 4 / span 3;        
    }
}
