/**
 * partials/footer
 * ---
 */


.footer {
    
    background: $black; 
    border-radius: 1rem; 
    color: $white;
    margin-bottom: 1.6rem;
    
    
    a {
        
        color: $white; 
        
        &:hover {
         
            color: $secondary-orange; 
        }
    }
    
    ul {
    
        padding: 0rem; 
        width: 100%;
        
        li {list-style: none; 
        padding: 1.2rem 0;  width: 100%;}
    }
    
    
    
}