/**
 * partials/footer
 * ---
 */


.footer {
    
    background: $black; 
    border-radius: 1rem; 
    color: $white;
    margin-bottom: 1.6rem;
    
    
    a {
        
        color: $white; 
        
        &:hover {
         
            color: $secondary-orange; 
        }
    }
    
    ul {
    
        padding: 0rem; 
        width: 100%;
        
        li {list-style: none; 
        padding: 1.2rem 0;  width: 100%;}
    }
    
    
    
}


.grid-area-footer-logo {
    
    display: grid; 
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(2.8rem, 2fr));
    grid-column: 20 / span 4;
    grid-row: 10 / span 1;
    grid-row-gap: 1.6rem;

    .gf1 {     grid-column: 1 / span 1;
    grid-row: 1 / span 1;    

}
    
    .gf2 {    grid-column: 2 / span 1;
    grid-row: 1 / span 1;    

 }
    
}