/* line 2, ../css/sass/partials/nav.scss */
.nav ul {
  display: none; }

/* line 7, ../css/sass/partials/nav.scss */
.nav-tgl {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  right: 30px;
  top: 30px;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: #fff;
  -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
  line-height: 0.6;
  text-align: center; }
  /* line 25, ../css/sass/partials/nav.scss */
  .nav-tgl > span {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 34px;
    border-radius: 1px;
    background: #293335;
    vertical-align: middle; }
    /* line 36, ../css/sass/partials/nav.scss */
    .nav-tgl > span:before, .nav-tgl > span:after {
      display: inline-block;
      position: absolute;
      content: "";
      height: 2px;
      border-radius: 1px;
      background: #293335;
      -webkit-transition: all 200ms;
      transition: all 200ms; }
    /* line 46, ../css/sass/partials/nav.scss */
    .nav-tgl > span:before {
      top: -11px;
      left: 3px;
      width: 28px; }
    /* line 51, ../css/sass/partials/nav.scss */
    .nav-tgl > span:after {
      top: 11px;
      left: 6px;
      width: 22px; }
  /* line 59, ../css/sass/partials/nav.scss */
  .nav-tgl:focus {
    outline: none; }
  /* line 61, ../css/sass/partials/nav.scss */
  .nav-tgl:hover > span:after, .nav-tgl:hover > span:before {
    width: 34px;
    left: 0; }

/* line 68, ../css/sass/partials/nav.scss */
.nav:before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-clip-path: circle(30px at calc(100% - 65px) 65px);
          clip-path: circle(30px at calc(100% - 65px) 65px);
  visibility: hidden; }

/* line 87, ../css/sass/partials/nav.scss */
.menu.active .nav:before {
  visibility: visible;
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%); }
/* line 94, ../css/sass/partials/nav.scss */
.menu.active .nav-tgl > span {
  height: 0; }
  /* line 96, ../css/sass/partials/nav.scss */
  .menu.active .nav-tgl > span:after, .menu.active .nav-tgl > span:before {
    top: 0px;
    left: 0;
    width: 34px; }
  /* line 101, ../css/sass/partials/nav.scss */
  .menu.active .nav-tgl > span:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  /* line 104, ../css/sass/partials/nav.scss */
  .menu.active .nav-tgl > span:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
