/**
 * partials/nav
 * ---
 * Menus
 */
/* line 17, ../css/sass/partials/nav.scss */
#menu-bar {
  width: 1.2rem;
  height: 1.2rem;
  position: fixed;
  top: 1.6rem;
  left: 1.6rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer; }

/* line 28, ../css/sass/partials/nav.scss */
.nav {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: none; }

/* line 32, ../css/sass/partials/nav.scss */
.nav ul {
  padding: 7.2rem 1.2rem; }

/* line 35, ../css/sass/partials/nav.scss */
.nav li {
  list-style: none;
  padding: 0; }

/* line 39, ../css/sass/partials/nav.scss */
.nav li a {
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none; }

/* line 44, ../css/sass/partials/nav.scss */
.menu-bg, #menu {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999; }

/* line 51, ../css/sass/partials/nav.scss */
.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 3.6rem 0 2.4rem 2.40rem;
  background: #EF3A01;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }

/* line 60, ../css/sass/partials/nav.scss */
.change {
  display: block; }

/* line 64, ../css/sass/partials/nav.scss */
.change .bar {
  background-color: #fff; }

/* line 68, ../css/sass/partials/nav.scss */
.change-bg {
  width: 250vw;
  height: 150vh;
  -webkit-transform: translate(-60%, -30%);
  transform: translate(-60%, -30%);
  position: fixed; }

/* line 80, ../css/sass/partials/nav.scss */
.nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  /* line 94, ../css/sass/partials/nav.scss */
  .nav-icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }

/* line 115, ../css/sass/partials/nav.scss */
.nav-icon span:nth-child(1) {
  top: 0px; }

/* line 119, ../css/sass/partials/nav.scss */
.nav-icon span:nth-child(2) {
  top: 18px; }

/* line 123, ../css/sass/partials/nav.scss */
.nav-icon span:nth-child(3) {
  top: 36px; }

/* line 127, ../css/sass/partials/nav.scss */
.nav-icon.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

/* line 135, ../css/sass/partials/nav.scss */
.nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

/* line 140, ../css/sass/partials/nav.scss */
.nav-icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }
